<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>Do people living in rural counties have a higher life expectancy than people living in urban counties?</a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>The idea for this project came out of work from the Robert Wood Johnson Foundation predicting life expectancy based on someone's zip code. 
	I decided to take this idea a step further to compare the environment type of county they live in (rural vs. urban) to compare life expectancy.
	My initial hypothesis, was that individuals living in a rural environment would have a higher life expectancy than those living in an urban environment.
	This hypothesis was based on my own assumptions of different environmental factors.</p>
	<p> I collected my data from the <a href="http://www.healthdata.org/data-visualization/life-expectancy-probability-death">Institute for Health Metrics and Evaluation (IHME)</a>
	. In their data set, they compare life expectancy of US state counties compared to international life expectancy. They also break the data down into gender (male/female) and
	race (white/African American).</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>For the purposes of this assignment, I decided on two counties in Pennsylvania that I knew were considered rural (Indiana County) and urban (Allegheny County). My <a href="https://www.google.com/fusiontables/DataSource?docid=1b7jloWdN-2aUcthiNjw2aSpzV0HiXB57TjIlOq_4">Fusion Table</a> is
	public and open for anyone to use. If someone was interested in more instances, they can download the entire data set from IHME.</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>